.container {
    p {
        text-align: center;
    }

    img {
        height: 300px;
        width: 100%;
        margin-bottom: 10px;
    }

    .header {
        align-items: center;
        border-bottom: 1px solid rgb(82, 109, 130, 0.5);
        display: flex;
        height: 50px;
        margin: 0 0 10px 0;
      
        h2 {
          margin-left: 10px;
        }
      }

      .tour {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;

        iframe {
          height: 350px;
          width: 100%;
        }
      }

      .about-container {
        border: 1px solid #27374D;
        display: flex;
        flex-direction: row;
        margin: 10px;
        min-height: 150px;
        min-width: 350px;
        padding: 0;
        transition: all 0.3s ease;

        p {
            text-align: left;
        }
    
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 12px rgba(39, 55, 77, 0.6);
        }
      
    
        h3 {
          border-bottom: 1px solid #9DB2BF;
          font-size: 18px;
          padding-bottom: 10px;
        }
    
        .icon-container {
          align-items: center;
          background-color: #27374D;
          display: flex;
          height: 50px;
          justify-content: center;
          width: 50px;
    
          svg {
            color: white;
            font-size: 20px;
          }
        }
    
        .description {
          margin: 10px;
          width: 90%;
        }
      }
}