@import '../../../styles/global.scss';

.contact-container {
  align-items: center;
  background-color: $main-lightes;
  display: flex;
  height: 60px;
  font-size: 13px;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 880px) {
    display: none;
  }


  svg {
    color: $main-dark;
    font-size: 30px;
  }

  .contact-detail {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 50px;
    
    span {
      margin: 0 20px;
    }

    .address {
      display: flex;
      flex-direction: column;
    }
  }
}