@import '../../../styles/global.scss';

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #9DB2BF;
  }

  & > p {
    padding: 0 10px;
  }

  .description-container {
    display: flex;

    .photo {
      align-items: center;
      display: flex;
      justify-content: center;

      @media only screen and (max-width: 576px) {
        display: none;
      }
      
      width: 40%;

      img {
        object-fit: cover;
      }
    }
    .description {
      margin: auto 0;
      width: 60%;

      @media only screen and (max-width: 576px) {
        width: 100%;
      }

    }
  }

  .icon-container {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
    } 

    .description {
      div {
        justify-content: flex-start;
        min-height: 150px;
      }
    }
    .icon {
      svg {
        color: $main-darkest;
        font-size: 100px;
        transition: all 0.3s ease;
      }

      &:hover {
        cursor: pointer;
        svg {
          color: #27374D;
          filter: drop-shadow(0 0 0.2rem #526D82);
        }
      }
    }
  }
}
